<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328103660277-phc6ovr82jutt3cqca61segk14d88gof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328103660277-phc6ovr82jutt3cqca61segk14d88gof</string>
	<key>API_KEY</key>
	<string>AIzaSyCf0Wny92t_Zq4TqsyC70kyL-EtZUB01s8</string>
	<key>GCM_SENDER_ID</key>
	<string>328103660277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miltenkot.StuffApp</string>
	<key>PROJECT_ID</key>
	<string>stuffapp-3b1b8</string>
	<key>STORAGE_BUCKET</key>
	<string>stuffapp-3b1b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328103660277:ios:2e1376b95172d85163d3bc</string>
	<key>DATABASE_URL</key>
	<string>https://stuffapp-3b1b8.firebaseio.com</string>
</dict>
</plist>